

    <H1>book returned is <%=returnbookejs.book_name%></H1>
<p>Id of the book is <%=newlyreturn_bookejs.id%> </p>
<p>Name of the student is <%=newlyreturn_bookejs.student_name%> </p>
<p>ID of the student is <%=newlyreturn_bookejs.student_id%> </p>
<p><%=newlyreturn_bookejs.edition%> </p
<span><%=newlyreturn_bookejs.created.toDateString()%></span>



